
@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');
* { margin:0; padding:0; box-sizing:border-box; }
body{

font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 1.25;
}

header {
background-color: #d3ebe9;
padding: 5em;
}
nav {

float:right;
}
nav a{
background-color:none;
color: #000000;
text-decoration: none;
display:inline-block;
padding: 20px 20px;

}
nav a:hover{
text-decoration: underline;
color: #00aec7;
}
.cta{
    background-color:#338720;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right: 10px;
    font-size: 14px;
    color:#ffffff;
    text-decoration: none;

}
.clearfix:after, section:after {
visibility: hidden;
display: block;
content: "";
clear: both;
}
#logo {
float: left;
}
#intro {
background-color: #d3ebe9;
background:url(.../image/intro_image.jpg),
#d3ebe9;
background-repeat: no-repeat;
background-position: left;
height: auto;
}
#intro_paragraph {
max-width: 25%;
float: left;
margin: 10vw 0 0 10vw;
}

#skill_description {
background-color: #f2f2f2;
padding: 8em 0;
}

#skill_paragraph {
text-align: center;
margin-left:20vh;
margin-right:20vh;
}
#work {
background-color: white;
background:url(.../image/delta_image.jpg),
white;
background-repeat: no-repeat;
background-position: left;
}

#work_paragraph {
max-width: 25%;
float: left;
margin: 10vw 0 0 10vw;
}

#exhibits {
background-color: #b9e5e6;
}

#exhibits_paragraph {
float:right;
width:50%;
margin: 10vw 0 0 0vw;
}

#exhibits_image {
float:left;
max-width: 50%;
}

#to_connect{
text-align:center;
margin: auto;
padding-top: 100px;
padding-bottom: 100px;
}
#size{
    max-width: 50%;
    /*! align-content: cente; */
    
    margin: auto;
    text-align: left;
}

input{
    font-size: 12px;
    font-weight: 300;
    color:#bfbfbf;
    width: 680px;
    padding-left: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
}
label{
    text-align: left;
    font-size: 16px;
    font-weight: 700;
}

footer {
background-color: #f2f2f2;
padding: 100px;
line-height: 3em;
}

h1{
font-size: 37px;
font-weight:700;
text-transform: uppercase;
}

h2{
font-size: 24px;
font-weight:700;
text-transform: uppercase;
}

h3{
font-size: 20px;
font-weight: 300;
text-transform: uppercase;
}

ul {
padding-left:1.25em;
}

@media only screen and (min-width:1298px)
